<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>{% if page.title %}{{ site.name }} - {{ page.title }}{% else %}{{ site.name }} - {{site.description}}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.tags != empty %}{% for tag in page.tags %}{{ tag | titlecase }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.name }}{% endif %}">
    <meta name="copyright" content="Copyright &copy; 2013-{{ site.time | date: '%Y' }} {{ site.name }}. All Rights Reserved." />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="/img/nice-highres.png">
    <link rel="icon" sizes="128x128" href="/img/niceicon.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/img/niceicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="/img/niceicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icon-ipad-retina.png">
    <meta http-equiv="cleartype" content="on">
    <meta name="application-name" content="{{ site.name }}">
    <meta name="msapplication-TileImage" content="/img/win8-tile-icon.png">
    <meta name="msapplication-TileColor" content="#0d4e78">
    <meta name="msapplication-square70x70logo" content="/img/tiny.png"/>
    <meta name="msapplication-square150x150logo" content="/img/square.png">
    <meta name="msapplication-wide310x150logo" content="/img/wide.png"/>
    <meta name="msapplication-square310x310logo" content="/img/large.png">
    <meta name="msapplication-notification" content="frequency=60;polling-uri={{ site.url }}/feed.xml;id=1;cycle=1"/>
    <meta name="cursor-event-mode" value="native">
    <meta http-equiv="x-rim-auto-match" content="none">
    <link rel="author" href="//plus.google.com/+SecBriefOrg/posts"/>
    <link rel="publisher" href="//plus.google.com/+SecBriefOrg"/>
    <meta itemprop="name" content="{{ site.name }}">
    <meta itemprop="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta itemprop="image" content="{{ site.url }}/img/square.png>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@SecBrief">
    <meta name="twitter:title" content="{% if page.title %}{{ site.name }} - {{ page.title }}{% else %}{{ site.name }} - {{site.description}}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@SecBrief">
    <meta name="twitter:image:src" content="{{ site.url }}/img/large.png">
    <meta property="og:title" content="{% if page.title %}{{ site.name }} - {{ page.title }}{% else %}{{ site.name }} - {{site.description}}{% endif %}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
    <meta property="og:image" content="{{ site.url }}/img/large.png" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.name}}" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="article:modified_time" content="{{ page.date }}" />
    <meta property="article:section" content="{% if page.category != empty %}{% for category in page.category %}{{ category | titlecase }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}" />
    <meta property="article:tag" content="{% if page.tags != empty %}{% for tag in page.tags %}{{ tag | titlecase }}{% if forloop.last == false %}, {% endif %}{% endfor %}{% endif %}" />
    <meta name="google-site-verification" content="ol3JtVvcjQHdG6pNhMV91FZoLEfq7bNe3d2ie4Bn9vI" />
    <link rel="icon" href="favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="favicon.ico"><![endif]-->
    <!-- or, set /favicon.ico for IE10 win -->
    <link rel="icon" type="image/png" href="{{ site.url }}/img/secbrief-196x196.png">
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/custom.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
  </head>
