<center>
  <ul class="pager">
    {% if paginator.total_pages > 1 %}
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous</a></li>
    {% else %}
    <li class="disabled"><a href="/">Previous</a></li>
    {% endif %}
    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next</a></li>
    {% else %}
    <li class="disabled"><a href="/">Next</a></li>
    {% endif %}
    {% endif %}
  </ul>
</center>
